# WordPress core
/wp-admin/
/wp-content/index.php
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# OS files
.DS_Store
Thumbs.db

# Build / dist
dist/
build/
*.zip

# Dependencies
node_modules/
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
